# KiCad Project Specific - Schematic Only
*.backup
*.kicad_pcb
*.kicad_pcb~
*.sch~
*.cmp~
*.lib~
*.mod~
*.pro~
*.wks~
*.brd~
*.net~
*.dcm~
*.erc
*.drc
*.plt
*.pos
*.rpt
*.fab
*.gerberjob
*.gbr
*.gm1
*.gko
*.gtl
*.gbl
*.gts
*.gbs
*.dri
*.oln
*.olb
*.ipc
*.kicad_prl
*.xml
*.pdf
*.svg
*.png
*.jlcpcb_bom.csv
*.jlcpcb_cpl.csv
*.zip

# Backup Folder
circuit segments-backups/

# other files
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache

# we want a PDF to show the circuit segments
!circuit-segments.pdf 

# OS Specific - Feel free to remove if not needed
.DS_Store
Thumbs.db
ehthumbs.db
*.log